<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyu.fire.mapper.DeviceMapper">

    <resultMap id="deviceMsg" type="com.jyu.fire.pojo.Device">
        <result column="config" typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler" property="config"/>
    </resultMap>

    <select id="selectManagementByDeviceId" resultType="com.jyu.fire.pojo.Management">
        select m.*
        from management m
        where id in (
            select mdr.management_id
            from management_device_rel mdr
            where mdr.device_id=#{id}
        )
    </select>
    
    <insert id="addDevice_Management">
        insert into management_device_rel(management_id, device_id, msg_cfg_id) values(
            (select m.id from management m where m.num=#{management_num}),
            (select d.id from device d where d.num=#{device_num}),
            (select c.id from msg_config c where c.name=#{config_name}))
    </insert>


    <delete id="deleteByNum">
        delete from fire.device where num=#{num}
    </delete>


    <select id="selectCountByStatus" resultType="int">
        select count(*) from device where status=#{status}
    </select>


    <select id="selectStatusById" resultType="int">
        select status from device where id=#{id}
    </select>

    <select id="selectByNum" resultMap="deviceMsg">
        select * from device where num=#{num}
    </select>

    <select id="selectLastOne" resultMap="deviceMsg">
        select * from device order by id desc limit 1;
    </select>

</mapper>