<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyu.fire.mapper.ManagementMapper">

    <select id="selectPhoneByDeviceId">
        select phone from management
        where id in (
            select management_id from management_device_rel
            where device_id=#{device_id}
            )
    </select>
    
    <select id="select" resultType="com.jyu.fire.pojo.Management">
        select * from management
            <where>
                <if test="num!=null and num!=''">
                    num=#{num}
                </if>
                <if test="name!=null and name!=''">
                    and name=#{name}
                </if>
                <if test="departmentId!=null">
                    and department_id=#{departmentId}
                </if>
            </where>
    </select>

    <select id="selectByNum" resultType="com.jyu.fire.pojo.Management">
        select * from management
        where num=#{num}
    </select>

    <select id="listIdAndName" resultType="com.jyu.fire.vo.ManagementDeviceVo">
        select id,name from management
    </select>
</mapper>